.VehicleContainer {
  min-width: 640px;
  position: relative;

  @media (min-width: 801px) {
    min-width: 0;
  }
}

.Vehicle {
  animation: fadeIn .3s ease-in;
  animation-fill-mode: both;
  backface-visibility: hidden;
  display: flex;
  flex-direction: row;
  height: 100%;
  opacity: 0;
  transition: box-shadow .3s ease-in-out;

  @keyframes fadeIn {

    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  &:hover {
    box-shadow: 2px 2px 10px rgba($color: #4a4e54, $alpha: .2);
  }

  @media (min-width: 801px) {
    flex-direction: column;
    min-width: 0;
  }
  
  &__img {
    width: 200px;
    height: 200px;

    @media only screen and (min-width: 801px) {
      width: 100%;
      height: auto;
    }
  }
}