.VehicleList {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;

  @media (min-width: 794px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 1550px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}